body {
	background-image: url("../images/gotbck.jpg");
	color: white;
}
#charTitle {
    position: relative;
    bottom: 180px;
    color: black;
    font-weight: bold;
}
#charHealth {
    position: relative;
    bottom: 55px;
    font-weight: bold;
    color: lime;
}
#selChar img {
	margin-top: 3px;
	border: 24px solid white;
}
#selCharpre img {
	border: 24px solid white;
}
#Enemies img {
	border: 24px solid red;
}
#Defender img {
	border: 24px solid black;
}
button {
	height: 177px;
	padding: 1px;
	border-color: #000;
}
#buttonAttack {
	color: #fff;
	width: 5%;
    height: 33px;
    background-color: #d9534f;
    border-color: #d43f3a
	height: 30px;
}
#buttonAttack h4 {
	position: relative;
	bottom: 10px;
}