body {
	background-image: url("../images/gotbck.jpg");
	color: white;
	font-family: 'Cardo', serif;
}
#charTitle {
    position: relative;
    bottom: 180px;
    color: black;
    font-family: 'Cardo', serif;
    font-weight: bolder;
}
.Defender #charTitle {
    position: relative;
    bottom: 180px;
    color: white;
    font-family: 'Cardo', serif;
    font-weight: bolder;
}
h4#charHealth {
    position: relative;
    bottom: 60px;
    font-family: 'Cardo', serif;
    font-weight: bolder;
    color: lime;
}
#selChar img {
	margin-top: 3px;
	border: 24px solid white;
}
#selCharpre img {
	border: 24px solid white;
}
#Enemies img {
	border: 24px solid red;
}
#Defender img {
	border: 24px solid black;
}
button {
	height: 177px;
	padding: 1px;
	border-color: #000;
}
#selChar button {
	border-color: lime;
}
#Defender button {
	border-color: lime;
}
#buttonAttack {
	color: #fff;
	width: 5%;
    height: 33px;
    background-color: #d9534f;
    border-color: #d43f3a
	height: 30px;
}
#buttonAttack h4 {
	font-family: 'Cardo', serif;
	position: relative;
	bottom: 10px;
}
#buttonNewGame {
	color: #fff;
	width: 5%;
    height: 33px;
    background-color: #337ab7;
    border-color: #d43f3a
	height: 30px;
}
#buttonNewGame h4 {
	font-family: 'Cardo', serif;
	position: relative;
	bottom: 10px;
}
audio {
	position: relative;
	left: 30%;
}